
body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90vw;
    max-width: 350px; /* Limita el ancho máximo del contenedor del juego */
}

#turno {
    margin-bottom: 10px;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

#Juego {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 350px; /* Limita el ancho máximo del contenedor del juego */
}

#Juego .cells {
    aspect-ratio: 1;
    width: 100%;
    position: relative;
    font-size: 2rem; /* Utiliza unidades relativas para el tamaño de la fuente */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid greenyellow;
    transition: background-color 0.3s ease;
}

#Juego .cells.x-selected {
    background-color: blue;
}

#Juego .cells.o-selected {
    background-color: red;
}

#Juego .cells:hover {
    background-color: yellow; /* Cambiar color de fondo al pasar el cursor */
}

.winner-box {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    display: none; /* Ocultar inicialmente */
    z-index: 1000;
}

#resetButton {
    background-color: #b5fdf7; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quitar subrayado */
    display: inline-block; /* Mostrar como bloque */
    font-size: 16px; /* Tamaño de fuente */
    margin: 10px; /* Margen exterior */
    cursor: pointer; /* Cambiar el cursor al pasar sobre él */
    border: none; /* Quitar borde */
    border-radius: 5px; /* Radio del borde */
}

#resetButton:hover {
    background-color: #45a049; /* Cambiar color de fondo al pasar el ratón */
}
#exitButton {
    background-color: #b5fdf7;
    color: black;
    padding: 10px, 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#exitButton:hover {
    background-color: rgb(255, 101, 101);
}
/* Modal styles*/
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.modal_content button{
    background-color: #b5fdf7;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal_content button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 800px){
    
    #Juego {
        
        /*gap: 5px;*/
        width: 50%;
        max-width: 200px; /* Limita el ancho máximo del contenedor del juego */
    }
    #Juego .cells {
        /*aspect-ratio: 1;*/
        width: 100%;
    }
    
}